@using System

@inherits Sandbox.UI.Panel

@namespace IdahoRP.UI
<style>
    HealthBar {
        position: absolute;
        bottom: 100px;
        left: 100px;
        width: 400px;
        height: 40px;
        background-color: black;
        padding: 2px;
    }

    .fill {
        height: 100%;
        width: 75%;
        background-color: red;
    }
</style>

<root>
    <div class="fill" style="width: @(GetPercent())%"></div>
</root>

@code {
    public Func<float> GetCurrentValue { get; set; }
    public Func<float> GetMaxValue { get; set; }

    public float GetPercent()
    {
        var currentValue = GetCurrentValue.Invoke();
        var maxValue = GetMaxValue.Invoke();

        return currentValue / maxValue;
    }

    protected override int BuildHash()
    {
        var currentPercent = GetPercent();

        return currentPercent.GetHashCode();
    }
}