@using Sandbox;
@using System.Collections.Generic;

@inherits Sandbox.UI.Panel
@namespace IdahoRP.UI

<root>
    <div class="icon">@InteractIcon</div>
    <p>@InteractString</p>
</root>

@code {
    public string InteractString { get; set; }
    public string InteractIcon { get; set; }
    private Dictionary<string, string> _interactStrings = new()
    {
        { "player", "Smooch" },
        { "mirror", "Flex" },
        { "door", "Open/Close" },
        { "money", "Earn" }
    };

    private Dictionary<string, string> _interactIcons = new()
    {
        { "player", "volunteer_activism" },
        { "mirror", "emoji_people" },
        { "door", "door_open" },
        { "money", "attach_money" }
    };

    public override void Tick()
    {
        var pawn = Game.LocalPawn as Idahoid;
        if (pawn == null)
        {
            InteractString = string.Empty;
            InteractIcon = string.Empty;
            return;
        }

        if (pawn.HoveredEntity == null)
        {
            InteractString = string.Empty;
            InteractIcon = string.Empty;
        }
        else
        {
            bool appliedTag = false;
            foreach(string tag in _interactStrings.Keys)
            {
                if (pawn.HoveredEntity.Tags.Has(tag))
                {
                    InteractString = _interactStrings[tag];
                    InteractIcon = _interactIcons[tag];
                    appliedTag = true;
                    break;
                }
            }
            // There's nothing worth interacting with that we've hovered over.
            if (!appliedTag)
            {
                InteractString = string.Empty;
                InteractIcon = string.Empty;
            }
        }
    }

    protected override int BuildHash()
    {
        return InteractString?.GetHashCode() ?? 0;
    }
}