@import "Base/Sandbox/_checkbox.scss";
@import "Character/Components/_genderListItem.scss";
@import "Character/Components/_genderPicker.scss";
@import "Character/Components/_namePicker.scss";
@import "Character/Components/_pronounType.scss";
@import "Character/Pages/_genderCreator.scss";
@import "Character/Pages/_modifyCharacter.scss";
@import "Components/_crosshair.scss";
@import "Components/_listBox.scss";
@import "Components/_modal.scss";
@import "Hud/_hud.scss";
@import "Hud/Components/_floatingLineItem.scss";
@import "Hud/Components/_hoverPanel.scss";
@import "Hud/Components/_moneyPanel.scss";
@import "Hud/Components/_regionInfo.scss";
@import "Welcome/_welcomePage.scss";

$idaho-blue: #003776;
$idaho-red: #761100;

h1{
    color: white;
    font-size: 72px;
    font-weight: bolder;
}

h2 {
    color: white;
    font-size: 36px;
}

h3 {
    color: white;
    font-size: 24px;
}

h4 {
    color: white;
    font-size: 18px;
}

p {
    color: white;
}

.hr {
    margin: 5px, 20px, 5px, 20px;
    height: 2px;
    align-self: stretch;
    background-color: color(1,1,1,0.06);
}

.panel {
    backdrop-filter: blur( 5px );
    background-color: color(0,0,0,0.6);
    border-radius: 10px;
}

TextEntry {
    color: white;
    font-size: 28px;
    max-width: 100%;
    background-color: color(0,0,0,0.8);
    border-radius: 4px;
}

.thin-border {
    padding: 20px;
    backdrop-filter: blur( 30px );
    border-color: color(1,1,1,0.05);
    border-radius: 8px;
    border-width: 2px;
}

.title {
    text-shadow: 10px 6px 5px black;
    margin: 30px;
}

.icon {
    font-family: MaterialIcons;
    font-size: 50px;
}

button {
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    font-family: Arial;
    font-size: 28px;
    cursor: pointer;

    &.tiny {
        padding: 2px;
    }

    &.clear {
        border-color: color(1,1,1,0.05);
        border-width: 2px;
        background-color: color(0.5,0.5,0.5,0.05);
        color: color(1,1,1,0.6);
    }

    &.clear:hover {
        background-color: color(0.5,0.5,0.5, 1);
    }

    &.solid {
        background-color: $idaho-blue;
        color: white;
    }

    &.solid:hover {
        background-color: color(0, 0.3, 0.55, 1);
    }
}