@using IdahoRP;
@using IdahoRP.UI;
@inherits Sandbox.UI.WorldPanel

<style>
    .player-info-panel{
        height: 120px;
        padding: 5px;
        border-radius: 10px;
        background-color: color(0,0,0,0.2);
        color: white;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #playerName {
        font-size: 36px;
    }

    .small-text{
        font-size: 18px;
        font-weight: light;
    }

    StatusBar {
        width: 200px;
    }
</style>

<root>
    <div class="player-info-panel">
        <div id="playerName">@(Player?.RpName ?? "null")</div>
        <div class="small-text">@(GetGender())</div>
        <div class="small-text">@(Player?.CurrentJob?.Title ?? "null")</div>
        <StatusBar GetMaxValue=@GetMaxHealth GetCurrentValue=@GetHealth FillColor=@HealthColor/>
    </div>
</root>


@code {
    public Idahoid Player { get; set; }
    public float GetMaxHealth() => Player.GetStat(PlayerStat.MaxHealth);
    public float GetHealth() => Player.GetStat(PlayerStat.Health);
    public Color HealthColor = new Color(0.69f, 0.10f, 0.22f, 1.00f);

    private string GetGender() => Player?.Gender?.SimplePronouns() ?? "No pronouns??";
}