@using IdahoRP.Api;
@using System.Collections.Generic
@using System.Linq;
@using Sandbox;

@namespace IdahoRP.UI

@inherits Sandbox.UI.Panel;

<root>
    <h2>Select your gender</h2>
    <div class="hr"/>
    <ListBox @ref="GenderList" id="genderList">
        @foreach(var gender in _genders)
        {
            <div id="@gender.ResourceId" class="list-item">
                <p class="gender-name">@(gender.Name.ToCapitalized())</p>
                <p class="short-pnouns">@(gender.SimplePronouns())</p>
            </div>
        }
        <button id="btnAddGender" class="clear noselect">
            <div class="icon">add</div>
            <p>Add Gender</p>
        </button>
    </ListBox>
</root>

@code {
    public ListBox GenderList { get; set; }
    private IEnumerable<Gender> _genders;
    public int SelectedGenderId;

    public GenderPicker()
    {
        _genders = ResourceLibrary.GetAll<Gender>();
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime)
            return;

        GenderList.OnSelectionChanged += (s, p) => SelectedGenderId = int.Parse(p.Id);
        var matchingGender = GenderList.Children.FirstOrDefault(c => c.Id == SelectedGenderId.ToString());
        // If no gender ID matches the player ID, use the first one instead
        if (matchingGender == null)
        {
            Log.Error($"No gender on this server matches the specified player gender: {SelectedGenderId}");
            matchingGender = GenderList.Children.First();
        }
        GenderList.SelectedItem = matchingGender;
    }
}