@using Sandbox;
@using Sandbox.UI;
@using IdahoRP.Api;

@namespace IdahoRP.UI
@inherits Sandbox.UI.Panel;

<root>
    <h2>Choose your name</h2>
    <div class="hr"/>
    <div id="nameEntryBottom">
        <button class="icon tiny clear" onclick=@(_ => GenerateRandomName())>casino</button>
        <TextEntry @ref="NameText"/>
    </div>
</root>

@code {
    public TextEntry NameText { get; set; }
    public CitizenData Data { get; set; }

    public string SelectedName 
    {
        get => NameText?.Text;
        set
        {
            if (NameText != null)
                NameText.Text = value;
        }
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime)
            return;

        if (Data != null)
            SelectedName = Data.Name;
    }

    public void GenerateRandomName()
    {
        var randomName = RandomNameGenerator.GenerateRandomName();
        SelectedName = randomName;
    }
}