ModifyCharacter {
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > #designSection {
        flex-direction: row;
        justify-content: center;
        width: 100%;

        & > #pickerSection {
            flex-direction: column;
            margin-right: 50px;
            width: 500px;

            NamePicker {
                margin: 5px;
            }

            GenderPicker {
                margin: 5px;
            }
        }

        & > #customSection {
            margin-left: 50px;
        }
    }

    & > #buttonRow {
        width: 100%;
        margin-right: 50px;
        justify-content: flex-end;
    }
}
