@using IdahoRP.Api;
@using Sandbox;

@namespace IdahoRP.UI
@inherits IdahoRP.UI.Modal;

<root>
    <div id="designSection">
        <div id="pickerSection">
            <NamePicker @ref=NamePicker class="thin-border" Data=@Data/>
            <GenderPicker @ref=GenderPicker class="thin-border" SelectedGenderId=@Data.GenderId/>
        </div>
        <div id="customSection">
            <CreateGender class="thin-border"/>
        </div>
    </div>
    <div id="buttonRow">
        <button class="solid" onclick="@(() => ConfirmCharacter())">Confirm Character</button>
    </div>
</root>

@code {
    public NamePicker NamePicker { get; set; }
    public GenderPicker GenderPicker { get; set; }
    public CitizenData Data { get; set; }

    public void ConfirmCharacter()
    {
        Commands.SetName(Game.SteamId, NamePicker.SelectedName);
        Commands.SetGender(Game.SteamId, GenderPicker.SelectedGenderId);
        Close();
    }
}