@using System;
@using Sandbox.UI;
@using IdahoRP;
@using IdahoRP.UI;

@inherits Sandbox.UI.WorldPanel
@attribute [StyleSheet("UI/World/_worldPlayerInfo.scss")]

<root>
    <div class="player-info-panel">
        <div id="playerName">@(Player.Data.Name ?? "null")</div>
        <div class="small-text">@(GetGender())</div>
        <div class="small-text">@(Player.CurrentJob?.Title ?? "null")</div>
        <StatusBar GetMaxValue=@GetMaxHealth GetCurrentValue=@GetHealth FillColor=@HealthColor/>
    </div>
</root>


@code {
    public Idahoid Player { get; set; }
    public float GetMaxHealth() => Player.GetStat(PlayerStat.MaxHealth);
    public float GetHealth() => Player.GetStat(PlayerStat.Health);
    public Color HealthColor = new Color(0.69f, 0.10f, 0.22f, 1.00f);

    private string GetGender() => Player.Data?.Gender?.SimplePronouns() ?? "No pronouns??";

    protected override int BuildHash()
    {
        return HashCode.Combine(Player.Data.Name, Player.Data.GenderId, Player.Data.CurrentJob?.Title);
    }
}