@inherits Sandbox.UI.Panel
@namespace IdahoRP.UI
@using Sandbox;

<root>
    <p>@Description</p>
    <p>@Amount.ToString("C2")</p>
</root>

@code {
    public FloatingLineItem(float amount, string description, float lifetime = 3.0f)
    {
        Amount = amount;
        Description = description;
        Lifetime = lifetime;
        EndOfLife = lifetime;
        var cssClass = amount >= 0 ? "positive" : "negative";
        AddClass(cssClass);
    }

    public float Lifetime { get; set; }
    public float Amount { get; set; }
    public string Description { get; set; }
    private TimeUntil EndOfLife { get; set; }

    public override void Tick()
    {
        if (EndOfLife)
        {
            Delete();
        }
        base.Tick();
    }
}